* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-cat{
    object-position: left;
    width: 250px;
    margin-left: auto;
    }
.img-crt{
    
     margin: bottom 0%;;
    width:270px;
}   
.img-straw{
    
    width: 260px;
    margin-right: 0cap ;;
} 
.img-cycle{
    object-position: 0%;
    width: 250px;
    margin-bottom: 0%;
} 

body {
    font-family:'Times New Roman', Times, serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position:absolute;
}


.question-container {
    background-color: #e7b3e2;
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.question-text {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.options {
    display: flex;
    flex-direction: column;
    
}

.option {
    background-color:rgb(193, 224, 222);
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #cdadd6;
}

input[type="radio"] {
    display: none;
}

label {
    font-size: 1em;
    color: #333;
}

input[type="radio"]:checked + label {
    background-color: #bf7932;
    color: #ffffff;
    padding: 15px;
    border-radius: 8px;
}